html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
}
p{
    font-weight: 100;
    color: #814719;
    margin: 0;
}
dl,dt,dd{
    margin: 0;
    color: #814719;
}
img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}




#js-pagetop {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background: transparent;
    color: #fff;
    bottom: 25px;
    right: 5px;
    cursor: pointer;
    z-index: 9999;
  }
  
  #js-pagetop span {
    position: absolute;
    display: block;

  }
  #js-pagetop span:nth-of-type(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 40px;
    background: #814719;
  }
  #js-pagetop span:nth-of-type(2) {
    top: 36%;
    left: 56%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 2px;
    height: 14px;
    background:#814719;
}
#js-pagetop span:nth-of-type(3) {
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #814719;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}



/********************************************************
header
**********************************************************/

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E2D6;
    padding: 0 20px;
}

/* ロゴと社名を2分 */
.header__name{
    display: flex;
    align-items: center;
}
/* 画像 */
.header__name img{
    width: 65px;
    height: 65px;
}
/* 社名 */
.header__office{
    padding-left: 15px;
}
/* メニュー */
header nav ul{
    display: flex;
}
header nav ul li{
    margin-left: 30px;
}

/********************************************************
全体設定
**********************************************************/
.container{
    width: 95%;
    padding: 100px 0;
    margin: 0 auto;
}

.title{
    padding-left: 20px;
    width: fit-content;
}
.title h2{
    color: #C49E03;
    font-size: 3.0rem;
    margin-bottom: 5px;
}
.title p{
    font-size: 1.8rem;
    margin-bottom: 60px;
    text-align: center;
}

#price .title p{
    color: #fff;
}
/********************************************************
メインビジュアル
**********************************************************/
/* 全全体の大きさ */
.fv{
    position: relative;
    height: calc( 100vh - 100px);

    margin: 0 auto;
}
/* 画像サイズ拡大 */
.fv img{
    display: block;
    object-fit: cover;
    width: 90%;
    margin: 0 auto;
}

/* 背景 */
.fv__bg{
    position: absolute;
    background-color: #E4E2D6;
    width: 100%;
    height: 60vh;
    z-index: -1;
}


/* テキスト */
.fv__menu{
    background: rgba(255, 255, 255,0.6);
    position: absolute;
    bottom : 40px;
    left: 100px;
    z-index: 9990;
    display: flex;
    padding: 10px 30px;
}
.fv__menu p{
    margin-right: 20px;
}
.fv__menu p:nth-of-type(1){
    color: rgb(194, 0, 0);
}


/********************************************************
トピック
**********************************************************/
.topic__list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic__item{
    margin: 0 20px;
    width: 30%;
    height: 200px;
    background: #c6c6c6;
}

/********************************************************
キャッチコピー
**********************************************************/
.main__copy{
    text-align: center;
}

.main__copy p{
    font-size: 2.5rem;
    line-height: 2;
}

/********************************************************
酵素風呂について
**********************************************************/
#about{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #E4E2D6;
}
#about .container{
    width: 100%;
}
.about__inner{
    display: flex;
}
.about__txt{
    width: 50%;
}
.about__txt p:nth-of-type(1){
    text-align: center;
    margin:20px 0 30px;
    font-size: 2.8rem;
}
.about__txt p:nth-of-type(2){
    text-align: center;
    padding: 0 40px;
    font-size: 1.8rem;
    line-height: 1.8;
}
.about__img{
    width: 50%;
    padding: 0 20px;
}

/********************************************************
特徴・こだわり
**********************************************************/
.features__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.features__item{
    width: 30%;
    margin: 0 auto 60px;
}
.features__item__num{
    background: rgba(162, 77, 25,0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
}
.features__item__num p{
    line-height: 50px;
    text-align: center;
    font-size: 2.0rem;
    color: #fff;
}
.features__item__img{
    background: #c6c6c6;
    width: 100%;
    height: 180px;
    margin: 0 0 20px;
}
.features__item__txt__tittle{
    text-align: center;
    font-size: 2.0rem;
    margin: 0 0 20px;
}

/********************************************************
ご利用の流れ
**********************************************************/
#flow{
    background: #E4E2D6;
}
.flow__list{

}
.flow__item{
    display: flex;
    align-items: start;
    height: 300px;
    margin-bottom: 80px;
}
/* 画像 */
.flow__item__img{
    width: 50%;
    height: 300px;
    padding: 0 30px;
}
.flow__item__img img{
    object-fit: cover;
}
/* 説明 */
.flow__item__txt{
    width: 50%;
    padding: 50px 0 0;
}
.flow__item__txt p:nth-of-type(1){
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.3rem;

}
.flow__item__txt p:nth-of-type(2){
    margin: auto;
    width: 90%;
}
.order1{
    order: 1;
}
.order2{
    order: 2;
}

/********************************************************
料金案内
**********************************************************/
#price{
    background-image: url(img/home1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%
}
#price .title{
    margin: 0 auto;
}
.price__list{
    width: 50%;
    margin: 0 auto;
}
.price__inner{
    width: 100%;
}
.price__txt__inner{
    margin: 0 auto;
    width: fit-content;
}
.price__txt__item{
    display: flex;
    align-items: center;

}
.price__txt__item p{
    color: #fff;
    margin: 18px 0;
}
.price__txt__item p:nth-of-type(1){
    width: 210px;
    font-size: 3.6rem;
}
.price__txt__item p:nth-of-type(2){
    width: 120px;
    font-size: 3.3rem;

}
.price__txt__item p:nth-of-type(3){
    font-size: 3.3rem;
}
.price__txt__inner__line{
    border: 1px dotted #fff;
    width: 100%;
}
.price__img__inner{
    width: 65%;
    margin: 60px auto;
}
.price__img img{
    margin: 10px auto;
    display: block;
}
.price__img p:nth-of-type(1){
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    color: #fff;
}
.price__img p:nth-of-type(2){
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
}

/********************************************************
お知らせ
**********************************************************/
.news__flex{
    display: flex;
}
#news .title{
    width: 30%;
    padding-left: 80px;
}
#news .title p{
    text-align: start;
}
.news__link{
    border: #858585 1px solid;
    padding: 5px 15px;
    color: #5c5c5c;
    background: #E4E2D6;
    display: block;
    margin: 50px auto;
    max-width: 250px;
    text-align: center;
}
#news .news__list{
    width: 60%;
    margin-top: 20px;
}
.news__item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 7px;
    border-bottom: 1px dotted;
}
.news__tittle{
    font-size: 2.0rem;
    margin-left: 20px;
}

/********************************************************
information
**********************************************************/
#information{
    background:#E4E2D6;
}
#information .title{
    margin: 0 auto;
}
.information__list{
    display: flex;
}
.information__item{
    width: 33.3%;
    height: 400px;
    position: relative;
    border-right: 1px solid #fff;
}
.information__item3 {
    border-right: 0;
}
.information__item img{
    object-fit: cover;
}
.information__item__bg{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.information__item__txt{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
}
.information__item__txt p{
    color: #fff;
    text-align: center;
}
.information__item__txt p:nth-of-type(1){
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.information__item__txt__link__line{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 2.0rem;
    border: 1px solid #fff;
    padding: 5px 20px;
    width: 50%;
    margin: 0 auto;
}
.information__item__txt__link__tel{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 3.0rem;
    padding: 5px 20px;
    margin: 0 auto;
}
.information__item__txt__link__map{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 2.0rem;
    border: 1px solid #fff;
    padding: 5px 20px;
    width: 50%;
    margin: 0 auto;
}
.information__item__txt img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 30px;
}

/********************************************************
質問
**********************************************************/
.question__flex{
    display: flex;
}
#question .title{
    margin: 0 auto;
}
#question .title p{
    text-align: start;
}
#question .question__inner{
    width: 80%;
    margin: 0 auto;
}
.include-accordion{
    width: 100%;
    padding: 0;
}
#question .accordion__list{
    margin: 20px 0;
}
#question .accordionBtn{
    color: #814719;
    border: 1px solid #814719;
    border-radius: 10px;
}
#question ul ul{
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: .5s;
    margin:0;
}
#question ul li li{
    padding: 10px;
    color: #814719;
}
#question button{
    position: relative;
    border: none;
    width: 100%;
    background-color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 10px 20px;
    font-size:1em;
}
#question button::before,
#question button::after{
    content:"";
    position: absolute;
    top: 47%;
    width: 1.5px;
    height: 8px;
    background-color: #814719;
    transition: .4s;
}
#question button::before{
    transform: rotate(-45deg);
    right: 35px;
}
#question button::after{
    transform: rotate(45deg);
    right: 30px;
}
#question li.active button::before{
    transform: rotate(-135deg);
    transition:.5s;
}
#question li.active button::after{
    transform: rotate(135deg);
    transition:.4s;
}
.question__doctor{
    margin-top: 50px;
}


/********************************************************
sns
**********************************************************/
.sns p{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.sns__icon{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.sns__icon a{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.sns__icon img{
    display: block;
    margin: 0 auto;
}

/********************************************************
footer
**********************************************************/

footer{
    background-color: #E4E2D6;
    padding: 50px 30px 30px;

}
.footer__logo{
    width: 158px;
    height: 150px;
    margin-bottom: 15px;
}
.footer__logo img{
    margin-left: 18px;
}
.footer__txt__item{
    display: flex;
}
.footer__txt__item p{
    margin-left: 20px;
    margin-bottom: 10px;
    color: #030200;
}
.footer__copy p{
    text-align: center;
    color: #030200;
    font-size: 1.4rem;
    margin-top: 50px;
}

/* 画像スクロール */
.bg__img{
    position: relative;
    height: 900px;
}
.bg__img1{
    position: absolute;
    top: 20px;
    left: 120px;
    width: 65%;
    height: 400px;
}
.bg__img2{
    position: absolute;
    top: 360px;
    right: 120px;
    width: 55%;
    height: 390px;
}

.bg__img img{
    object-fit: cover;
}

.parallax-bg1 {
    background-image: url('img/home.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 800px;
}



/*******************************************
ポップアップ
********************************************/

.bg_onetime_popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}

body.open_popup .bg_onetime_popup {
    opacity: 1;
    visibility: visible;
}

.onetime_popup {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 280px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
}

.onetime_popup_title {
    position: relative;
    padding: 15px 0;
    margin: 0px;
    background:rgba(6,198,85, 1);
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 2px;
    font-weight: bold;
}

.onetime_popup_title_close {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
}
.onetime_popup_title_close::before,
.onetime_popup_title_close::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 2px;
    background-color: #fff;
    content: "";
}
.onetime_popup_title_close::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.onetime_popup_title_close::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.onetime_popup_content {
    text-align: center;
}
.onetime_popup_content img{
    width: 120px;
    height: 120px;
    margin: 20px auto 10px;
    display: block;
}
.onetime_popup_content a{
    width: 80%;
    margin: 0 auto 5px;
    display: block;
	font-size: 1.6rem;
    color: #000;
    background: #fff;
    border-radius: 50px;
    padding: 3px 20px;
    border: 1px solid;
}
.onetime_popup_content a:hover{
    background:rgba(6,198,85, 1);
    color: #fff;
}



.page__title{
    height: 200px;
    position: relative;
}
.page__title p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3.0rem;
    color: #fff;
}

.page__title img{
    object-fit: cover;
}


.page__blog__list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.page__blog__item{
    width: 30.0%;
    margin-bottom: 50px;
}




.reserve a{
    display: block;
    padding: 5px 0;
    max-width: 250px;
    border: 1px solid #000;
    background: #555555;
    color: #fff;
    margin: 80px auto;
    font-size: 2.3rem;
    text-align: center;

}

.reserve a:hover{

    background: #000000;
    color: #fff;

}





.pc{
    display: block;
}
.sp{
    display: none;
}





@media screen and (max-width:500px) {


.pc{
    display: none;
}
.sp{
    display: block;
}



.container{
    width: 100%;
    padding: 45px 0;
}


.title h2{
    font-size: 2.5rem;
    margin-bottom: 30px;

}



/* pagetop */

#js-pagetop{
    width: 70px;
    height: 70px;
    bottom: 10px;
    right: 10px;
}
#js-pagetop span:nth-of-type(1) {
    height: 30px;
}
#js-pagetop span:nth-of-type(2){
    left: 57%;
}
#js-pagetop span:nth-of-type(3){
    font-size: 1rem;
}



/* header */

header{
    height: 65px;
}

.header__logo{
    top: 14px;
    left: 18px;
    width: 50px;
    height: 50px;
}

/* fv */
.fv{
    height: 80vh;
}
.fv__txt p:nth-of-type(1){
    font-size: 3.5rem;
}

.fv img{
    object-fit: cover;
}

.order1{
    order: 2;
}

.order2{
    order: 1;
}




/* hamburger */

.header.transform .toggle_btn span{
    background-color: #fff;
  }
.toggle_btn{
    width: 65px;
    height: 65px;
    top: 0;
    transform: translate(0,0);
}


.toggle_btn span:nth-child(1){
    top: 28px;
}
.toggle_btn span:nth-child(2){
    bottom: 28px;
}
.open .toggle_btn span:nth-child(1){
    top: 22px;
}
.open .toggle_btn span:nth-child(2){
    bottom: 22px;
}
.open .toggle_btn span{
    left: 22%;
}
/* concept */
.concept__txt p{
    font-size: 1.5rem;
}

.concept__img{
    width: 40%;
}



/* about */

.about__list{
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.about__item__img{
    width: 100%;
    padding: 0;
}

.about__item__img img{
    width: 100%;
    height: 250px;
}


.about__item__txt__inner{
    width: 90%;
    margin: 0 auto;
}


/* effect */
.effect__item{
    font-size: 1.3rem;
    padding: 0 8px;
}
.effect__list{
    flex-wrap: wrap;
}
.effect__title{
    margin: 0 auto 30px;
}
.effect__title__inner::after{
    top: 12%;
    transform: translate(-50%,0%);
    height: 100%;
    width: 95%;
}

/* pick */
.pick__list{
    width: 100%;
}
.effect__item{
    padding: 0 5px;
    text-align: center;
    margin-bottom: 20px;
}

.pick__item{
    flex-direction: column;
    margin-bottom: 50px;
}

.pick__item__img{
    width: 80%;
    height: 175px;
    padding: 0;
    margin: 0 auto 16px 0;
}
.pick__item__img img{
    object-fit: cover;
}
.pick__item__txt{
    width: 90%;
    margin: 0 auto;
}

.pick__item__txt h4{
    margin: 10px auto 15px 0;
    font-weight: bold;
}



/* flow */
.flow__list{
    flex-direction: column;
}

.flow__item{
    width: 75%;
    margin: 0 auto 30px;
}


.flow__item::before{
    width: 0;
    height: 0;
}
.flow__item__img::after{
    width: 4%;
    height: 46%;
}

/* price */
.price__tittle{
    width: 120px;
    font-size: 1.8rem;
}

.price__marge{
    width: 230px;
    font-size: 1.8rem;
}
.price__pair{
    width: 75%;
}
.price__pair p:nth-of-type(1){
    font-size: 1.8rem;
}

.price__pair p:nth-of-type(2){
    margin-left: 0;
    font-size: 1.8rem;
}
.price__pair span{
    font-size: 1.3rem;
}

.money img{
    width: 70%;
}

/* photo */
.instagram__link{
    justify-content: center;
}

.slide-items img{
    height: 140px;
}

.slick-dots li button:before{
    width: 5px;
    height: 5px;
    content: "";
}
/* question */
#question .accordion__list{
    width: 90%;
    margin: 20px auto;
}
.include-accordion{
    width: 100%;
}
#question p{
    width: 88%;
    font-size: 1.3rem;
}



/* news */

.news{
    width: 90%;
}
.news__tittle{
    font-size: 1.6rem;
}
.blog{
    width: 90%;
}

.blog__list{
    flex-direction: column;
}

.blog__item{
    width: 100%;
    margin: 0 0 20px;
}



/* line */
.line__item p{
    font-size: 1.8rem;
}
.line__link img{
    width: 35%;
}

/* sns */
.sns__icon a{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}


/* map */
iframe{
    width: 80%;
}


/* footer */
.footer__logo{
    font-size: 2.5rem;
}

.footer__open{
    flex-direction: column;
    margin-bottom: 40px;
}
.footer__open p:nth-of-type(1){
    margin-bottom: 5px;
}


.parallax-bg1 {
    height: 350px;
}




}