html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    /* background: #FFFBEC; */
    font-family: 'Noto Serif JP', serif;
}
p{
    font-weight: 100;
    color: #814719;
    margin: 0;
}
dl,dt,dd{
    margin: 0;
    color: #814719;
}
img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
/********************************************************
header
**********************************************************/

.header__logo{
    position: fixed;
    top: 25px;
    left: 45px;
    width: 5%;
    z-index: 9999;
}

header nav{
    position: absolute;
    top: 50px;
    right: 5%;
    width: fit-content;
    font-size: 1.6rem;
    z-index: 999;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin-left: 15px;
    color: #fff;
}
/********************************************************
全体設定
**********************************************************/
.container{
    width: 95%;
    margin: 120px auto;
    max-width: 1300px;
}

.title{
    padding: 15px 0;
    text-align: center;
    margin: 50px;
}
.title h2{
    color: #71713D;
    font-size: 4.0rem;
}



.bg{
    height: 450px;
    object-fit: cover;
}
/********************************************************
ハンバーガーメニュー
**********************************************************/

.main_menu{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 70px;
    height: 70px;
    background: rgba(113, 113, 61, 0.6);
    z-index: 9999;
}
.main_menu span{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
.main_menu span:nth-of-type(1){
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-50%);
    background: #fff;
}

.main_menu span:nth-of-type(2){
    position: absolute;
    display: block;
    width: 50%;
    height: 2px;
    left: 50%;
    top: 46%;
    transform: translate(-50%,-50%);
    background: #fff;
}




/********************************************************
メインビジュアル
**********************************************************/
.fv{
    width: 100%;
    height: 100vh;
    position: relative;
}
.fv img{
    object-fit: cover;
}
/* テキスト */
.fv__txt{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.fv__txt p{
    color: #fff;
    text-align: center;
}
.fv__txt p:nth-of-type(1){
    font-size: 6.0rem;
}
    .fv__txt p:nth-of-type(2){
    font-size: 2.0rem;
}

/********************************************************
酵素風呂のコンセプト
**********************************************************/
.concept{
    margin: 100px auto ;
    position: relative;
    max-width: 1300px;
}
/* 背景画像 */
.concept__img{
    width: 20%;
    margin: 0 auto;
}
.concept__img img{
    object-fit: cover;
}
/* テキスト */
.concept__txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;

}
.concept__txt p{
    letter-spacing: 2px;
    line-height: 2.0;
    font-size: 2.0rem;
    text-align: center;
}

/********************************************************
酵素風呂について
**********************************************************/

/* テキスト */
.about__list{
    width: 100%;
    padding: 0 35px;
    margin: 60px 0;
    display: flex;
}
/* テキスト横幅 */
.about__item__txt__inner{
    width: 60%;
}
/* タイトル */
.about__item__txt p:nth-of-type(1){
    margin: 20px 0;
    font-size: 2.2rem;
    border-bottom: 1px solid;
    width: fit-content;
    font-weight: bold;
    color: #F89E34;
}
/* 説明文 */
.about__item__txt p:nth-of-type(2){
    margin: 0 0 60px;
}
/* 画像 */
.about__item__img{
    width: 40%;
    margin: 0 auto;
    text-align: end;
    padding: 50px 0;
}
.about__item__img img{
    width: 80%;
    height: auto;
    object-fit: cover;
}
/********************************************************
酵素風呂の効果
**********************************************************/
.effect__title{
    text-align: start;
    border-radius: 10px;
    font-size: 2.0rem;
    width: fit-content;
    background: #B29760;
    padding: 5px 55px;
    margin-bottom: 30px;
}
.effect__title p{
    color: #fff;
}
.effect__list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
/* コンテンツ */
.effect__item{
    padding: 0 10px;
}

/* タイトル */
.effect__item{
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.8rem;
}



/********************************************************
こだわり
*********************************************************/
/* コンテンツ */

.pick__inner{
    width: 80%;
    margin: 0 auto;
}

/* 画像 */
.pick__item{
    display: flex;
    align-items: center;
}
.pick__item__img{
    width: 30%;
    padding: 30px;
}
.pick__item__txt{
    width: 70%;
}
.pick__item__txt h4{
    color: #814719;
    width: fit-content;
    border-bottom: 1px solid;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2.0rem;
}
.pick__item__txt p{
    
}
/********************************************************
料金案内
**********************************************************/

.price__mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: block;
}

.price__main__tittle{
    margin-bottom: 15px;
    text-align: center;
}
/* 表 */
.price__item{
    width: fit-content;
    margin: 0 auto 20px;
    border: 1px solid;
}
.price__item dl{
    display: flex;
    align-items:  baseline;
    text-align: center;
}
/* 表(左) */
.price__tittle{
    font-size: 2.5rem;
    background: #B29760;
    padding: 10px 20px;
    width: 150px;
    color: #fff;
}
/* 表(右) */
.price__marge{
    width: 350px;
    font-size: 2.5rem;
    background: rgb(255, 255, 255);
    color: #814719;
    padding: 10px 20px;
}
.price__marge span{
    font-size: 1.3rem;
}
/* 点線 */
.border{
    height: 0;
    border: 0;
    border-bottom: 1px dotted;
    margin: 0;
}

/* ペア割 */
.price__pair{
    margin-bottom: 65px;
}
.price__pair dl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0;
}
.price__pair__tittle{
    color: red;
    font-size: 2.3rem;
}
.price__pair__marge{
    margin-left: 30px;
}

.price__txt{
    text-align: center;
    margin-top: 20px;
    margin-left: 3%;
    margin-bottom: 65px;
    font-size: 1.3rem;

}


/* 支払い */
.money {
    text-align: center;
}
.money img{
    width: 40%;
    margin: 0 auto;
    display: block;
}
.money p{
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;

}





/********************************************************
写真
**********************************************************/
.photo__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* 画像 */
.photo__item img{
    width: 16%;
    height: 230px;
    object-fit: cover;
    margin: 1px 10px;
}
/* instagram */
.instagram__link{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px 30px;
}
.instagram__link img{
    width: 40px;
    height: 40px;
}
.instagram__link a{
    width: 16px;
    display: block;
    width: fit-content;
    margin-left: 10px;
}
/********************************************************
質問
**********************************************************/

.include-accordion{
    width: 70%;
    margin: 0 auto;
    padding: 0;
}
.accordion__list{
    margin: 20px 0;
}
.accordionBtn{
    color: #814719;
    border: 1px solid #814719;
    border-radius: 10px;
}

ul ul{
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: .5s;
    margin:0;
}

ul li li{
    padding: 10px;
    color: #814719;
}

button{
    position: relative;
    border: none;
    width: 100%;
    background-color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 10px 20px;
    font-size:1em;
}

button::before,
button::after{
    content:"";
    position: absolute;
    top: 47%;
    width: 1.5px;
    height: 8px;
    background-color: #814719;
    transition: .4s;
}

button::before{
    transform: rotate(-45deg);
    right: 35px;
}

button::after{
    transform: rotate(45deg);
    right: 30px;
}

li.active button::before{
    transform: rotate(-135deg);
    transition:.5s;
}

li.active button::after{
    transform: rotate(135deg);
    transition:.4s;
}
#question p{
    width: 85%;
    margin: 50px auto 0;
}

/********************************************************
line
**********************************************************/

.line__list{
    display: flex;
    justify-content: center;
    padding: 0 75px;
    margin-bottom: 75px;
}
.line__item{
    width: 30%;
    margin: 0 35px;

}
.line__item__txt{
    position: relative;
}
.line__item__txt p{
    position: absolute;
    top: 54%;
    left: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.line__item__img{
    text-align: center;
}
.line__item img{
    width: 80%;
}


/********************************************************
news
**********************************************************/
/* 共通 */
.sub__tittle{
    position: relative;
    padding: 5px 20px;
    font-size: 2.3rem;
}
.sub__tittle::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    background: #71713D;
    width: 7px;
    height: 90%;
}

/* news */
.news{
    width: 85%;
    margin: 0 auto 100px;
}

.news__list{
    width: 90%;
    margin: 40px auto 0;
}
.news__item{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px dotted;
}
.news__day{
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.news__tittle{
    margin-left: 20px;
}
.news__link{
    text-align: end;
    margin-top: 40px;
}
.news__link a{
    background: rgba(141, 141, 141, 0.3);
    padding: 5px 20px;
}

/* ブログ */
.blog{
    width: 85%;
    margin: 0 auto;
}
.blog__list{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.blog__list{
    width: 90%;
}
.blog__item{
    width: 50%;
    border: 1px solid #c6c6c6;
    margin: 0 10px;
}
.blog__item img{
    height: 200px;
    object-fit: cover;
    display: block;
}

.blog__day{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-left: 10px;
}
.blog__tittle{
    font-weight: bold;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 1.4rem;
}
.blog__txt{
    font-size: 1.3rem;
    margin: 5px 0 10px;
    padding: 0 10px;
}

.blog__link{
    margin-top: 70px;
    text-align: end;
}


/********************************************************
コンタクト
**********************************************************/
.contact{
    background-image: url(img/contact_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 65px 0;
}
.contact__img img{
    width: 13%;
    margin: 0 auto;
    display: block;
}
.contact__txt{
    text-align: center;
}
.contact__txt p:nth-of-type(1){
    font-size: 2.5rem;
    text-align: center;
    margin: 70px 0 20px;
    color: #44430D;
}
.contact__inner{
    width: fit-content;
    margin: 0 auto;
}
.contact__tel p:nth-of-type(1){
    font-size: 3.0rem;
    color: #44430D;

}
.contact__address{
    display: flex;
    margin-bottom: 5px;
}
.contact__address p{
    color: #44430D;
}
.contact__address p:nth-of-type(1){
    margin-right: 20px;
}
.contact__point{
    text-align: end;
}
.contact__point p{
    color: #44430D;
}

iframe{
    width: 50%;
    height: 250px;
    display: block;
    margin: 30px auto 0;
}




footer{
    background: #B29760;
}
footer p{
    text-align: center;
    padding: 10px 0;
    color: #fff;
}


.flow__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.flow__item{
    width: 20%;
    margin: 0 15px 50px;
    position: relative;
}
.flow__item::before{
    position: absolute;
    content: "";
    top: 35%;
    right: -30px;
    width: 20%;
    height: 20px;
    transform: translate(0,-50%);
    background: rgba(149, 108, 29,0.2);
    z-index: -1;
}
.flow__list .flow__item:nth-child(4):before{
    background: transparent;
}
.flow__list .flow__item:nth-child(8):before{
    background: transparent;
}
.flow__item__img::after{
    position: absolute;
    content: "";
    top: 135px;
    right: 13px;
    width: 8%;
    height: 43%;
    background: #fff;
    transform: rotate(45deg);

}
.flow__item__img{
    height: 200px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
.flow__item__img img{
    object-fit: cover;
}
.flow__num{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    z-index: 100;
}
.flow__num p{
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 3.3rem;
}
.flow__item__txt{
    margin: 15px 0;
}
.flow__item__txt p:nth-of-type(1){
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.flow__item__txt p:nth-of-type(2){
    font-size: 1.4rem;
}




.bg__img{
    position: relative;
    height: 900px;
}
.bg__img1{
    position: absolute;
    top: 20px;
    left: 120px;
    width: 65%;
    height: 400px;
}
.bg__img2{
    position: absolute;
    top: 360px;
    right: 120px;
    width: 55%;
    height: 390px;
}
.bg__img img{
    object-fit: cover;
}



.parallax-bg1 {
    background-image: url('img/home1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 800px;
}

.sns{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.sns img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 15px;
}